*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    background-color: black;
    font-size: 22px;
    color: seashell;
    opacity: 0.97;
}

header{
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
}

header nav ul{
    list-style: none;
    display: flex;
    padding-top: 2%;
    padding-left: 60vw;
    gap: 2vw;
    text-decoration: underline;
}

header img{
    height: 50px;
    padding-top: 1%;
    padding-left: 10px;
}

.hero{
    height: 50vh;
}

.hero img{
    width: 75vw;
    height: 100vh;
    margin-left: 12vw;
    padding-top: 9vh;
}

.texto{
    text-align: center;
    background-color: black;
    width: 80vw;
    height: 13vh;
    position: absolute;
    top: 50vh;
    left: 10vw;
}

.texto h2{
    font-size: larger;
    padding-top: 10px;
    padding-bottom: 20px;
}

.teas{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 33%;
    margin-bottom: 5vh;
}

.teas h2{
    font-size: 30px;
}

.teas h4{
    font-size: 20px;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.card img{
    width: 300px;
    height: 200px;
}

.card h4{
    padding-top: 10px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.locations img{
    width: 75vw;
    height: 100vh;
    margin-left: 12vw;
}

.locations h2{
    font-size: larger;
    position: absolute;
    top: 250vh;
    left: 45vw;
    background-color: transparent;
}

.locais{
    background-color: transparent;
    display: flex;
    gap: 40px;
    text-align: center;
    line-height: 10vh;
    opacity: 1;
    position: absolute;
    top: 265vh;
    left: 17vw;
}

.local1{
    padding-left: 50px;
    padding-right: 50px;
}

.local2{
    padding-left: 20px;
    padding-right: 20px;
}

.local3{
    padding-left: 30px;
    padding-right: 30px;
}

footer{
    height: 200px;
    text-align: center;
}

footer h2{
    font-size: larger;
    padding-bottom: 5vh;
}

footer h5{
    font-size: small;
    padding-bottom: 5vh;
}

#copy{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
}