*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
    color: #fff;
    box-sizing: border-box;
}

body{
    background-color: #1E3E0C;
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    height: 100px;
    padding: 5vh;
    background-color: #12210C;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 80px;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
}

nav a:hover i,
nav a:hover span{
    color: #BA920E;
}

#logo{
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 60vh;
}

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
        "hero hero hero hero hero hero hero hero hero hero hero hero"
        "about_me about_me about_me about_me about_me about_me about_me about_me about_me about_me about_me about_me"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    width: 100%;
}

.hero{
    grid-area: hero; 
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 89vh; 
    margin-top: 10.5vh;
    background-color: #213f15;
}

.texto{ 
    text-align: left;
    padding-right: 30px;
}

.texto h3{
    padding-bottom: 5%;
    font-size: larger;
    font-weight: lighter;
    text-align: center;
}

.texto h1{
    font-size: xx-large;
    font-weight: lighter;
}

.hero button{
    display: block;
    margin-top: 5%;
    padding: 20px 40px;
    background-color: #BA920E;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 17px;
    margin-left: 120px;
}

.hero button a{
    text-decoration: none;
}

.hero button:hover{
    transform: translateY(-5px);
    box-shadow: 2px 2px 10px #000;
}

#me{
    width: 25%; 
    height: auto;
    border-radius: 50px;
    margin-left: 80px;
}

#about_me{
    grid-area: about_me;
    grid-column: 3/ span 8;
    margin-top: 100px;
}

#about_me div{
    background-color: #264d2f;
    border-radius: 30px;
    padding: 35px;
}

#about_me div h2{
    text-align: left;
    padding-bottom: 3%;
    font-size: xx-large;
    font-weight: lighter;
}

#about_me div p{
    text-align: center;
}

#curiosity{
    grid-column: 3 / span 8; 
    margin-top: 100px;
    text-align: center;
}

#curiosity h2{
    font-weight: lighter;
    font-size: xx-large;
    text-align: left;
    margin-bottom: 7vh;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card{
    background-color: #264d2f;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    border-radius: 40px;
    width: 70%;
    padding-top: 10px;
}

.card-description{
    color: #fff;
    font-weight: lighter;
    text-align: center;
    padding-top: 10px;
}

footer{
    grid-area: footer;
    width: 100%;
    height: 200px;
    background-color: #12210C;
    text-align: center;
    margin-top: 100px;
    padding-top: 20px;
}

footer h3{
    font-weight: lighter;
    font-size: 20px;
    padding-bottom: 3vh;
    color: #fff;
}

footer #name{
    padding-bottom: 0.5%;
}

footer a{
    display: flex;
    justify-content: center;
    padding-bottom: 0.5%;
    text-decoration: none;
}

footer a:hover p,
footer a:hover i{
    color: #BA920E;
}

footer i{
    padding-right: 5px;
}

footer p{
    font-size: 15px;
    color: #fff;
}

@media screen and (max-width:395px) and (max-height: 844px){
    header{
        display: flex;
        justify-content: center;
    }

    nav{
        width: 90%;
        height: 100px;
        border-radius: 30px;
        top: 89vh;
        bottom: 0;
        align-items: center;
        justify-content: space-between;
    }

    nav ul{
        gap: 30px;
    }

    nav ul li a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }

    nav ul li a span{
        display: none;
    }

    #logo{
        padding-left: 20px;
        padding-right: 1px;
    }

    #icon{
        padding-left: 50px;
    }

    main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "hero hero hero hero"
            "about_me about_me about_me about_me"
            "curiosity curiosity curiosity curiosity";
        width: 100%;
    }

    .hero{
        flex-direction: column-reverse;
        margin-top: 0;
        width: 100%;
        height: 100vh;
        padding-left: 20px;
    }

    .texto{
        padding-top: 10%;
        text-align: center;
    }

    .texto h1{
        font-size: x-large;
        padding-bottom: 6%;
    }

    .hero button{
        margin-left: 90px;
    }

    #me{
        width: 50%;
        margin-right: 20vw;
    }

    #about_me{
        grid-column: span 4;
        margin-left: 20px;
        margin-right: 20px;
    }

    #about_me div h2,
    #curiosity h2{
        text-align: center;
    }

    #curiosity{
        grid-column: span 4;
    }
    
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
}