*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
    color: #fff;
}

body{
    background-color: #1E3E0C;
    max-width: 100%;
    max-height: 100%;
}

nav{
    width: 100%;
    padding: 5vh;
    background-color: #12210C;
    list-style: none;
    position: fixed;
    top: 0;
}

nav ul{
    text-align: center;
}

nav ul li{ 
    display: inline;
    margin: 0 6% 0 2%;
}

#logo{
    font-size: xx-large;
    font-weight: bolder;
}

a{
    text-decoration: none;
}

nav a:hover{
    color: #BA920E;
}

#me{
    width: 20%;
    float: left;
    /*margin-right: 5%;*/
    margin-left: 60vh;
    border-radius: 50px;
}

.texto{
    text-align: center;
    padding-top: 10%;
    padding-right: 30vh;
}

.texto h3{
    padding-bottom: 3%;
    font-size: larger;
    font-weight: lighter;
}

.texto h1{
    font-size: xx-large;
    font-weight: lighter;
}

.hero{
    padding-top: 12%;
    padding-bottom: 15%;
    margin: auto;
    height: 50vh;
}

.main{
    position: relative;
    top: 100vh; 
}

#clear{
    clear: both;
}

#about_me div{
    background-color: #264d2f;
    border-radius: 30px;
    margin: 0 9%;
    padding: 35px;
}

#about_me div h2{
    text-align: center;
    padding-bottom: 3%;
    font-size: xx-large;
    font-weight: lighter;
}

#about_me div p{
    text-align: justify;
}

#curiosity{
    margin-top: 10vh;
    text-align: center;
}

#curiosity h2{
    font-weight: lighter;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 7vh;
}

.cards{
    text-align: center;
}

.card{
    background-color: #264d2f;
    width: 25%;
    height: 40%;
    line-height: 25px;
    border-radius: 30px;
    display: inline-block;
    margin: 0 1.5% 30px 1.5%;
    text-align: center;
    box-shadow: 2px 2px 10px rgb(0,0.5,0,0.5);
    box-sizing: border-box;
    padding: 2%;
    vertical-align: top;
}

.row{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

#clear2{
    clear: both;
}

.card img{
    border-radius: 40px;
    width: 70%;
    padding-top: 10px;
}

.card-description{
    color: #fff;
    font-weight: lighter;
    text-align: center;
    padding-top: 10px;
}

.card2{
    height: 66vh;
}

.card5,
.card6{
    height: 70vh;
}

#education{
    margin-top: 10vh;
}

#education h3 table{
    display: inline;
    margin: auto;
}

#education h2{
    font-weight: lighter;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 7vh;
}

#frase{
    text-align: center;
    font-weight: lighter;
    font-size: large;
    float: left;
    line-height: 25px;
    background-color: #264d2f;
    padding: 50px 50px; 
    border-radius: 50%; 
    max-width: 80%;
    margin-top: 5vh;
    margin-left: 7vw;
    margin-right: 5vw;
}

#education table{
    width: 40%;
    height: 50vh;
    text-align: center;
}

#education table th{
    height: 10vh;
}

#causos{
    margin-top: 10vh;
}

#causos h2{
    font-weight: lighter;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 7vh;
}

#causos .texto2{
    text-align: justify;
    line-height: 25px;
    background-color: #264d2f;
    border-radius: 30px;
    margin: 0 9%;
    padding: 35px;
}

#causos img{
    width: 35%;
    padding-left: 55vh;
}

#hability{
    margin-top: 10vh;
}

#hability h2{
    font-weight: lighter;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 7vh;
}

#hability ol{
    background-color: #264d2f;
    border-radius: 30px;
    margin: 6% 9%;
    padding: 35px;
    padding-left: 15vw;
}

#hability ol li{
    line-height: 25px;
}

#eu{
    float: right;
    width: 11%;
    margin-top: 8.3vh;
    margin-right: 20vw;  
    border-radius: 30px;
}

footer{
    background-color: #12210C;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer h3{
    font-weight: lighter;
    font-size: large;
    display: inline;
    padding-right: 10%;
    padding-left: 10%;
    color: #BA920E;
}

footer p{
    display: inline;
    padding-right: 10%;
    color: #BA920E;
}